.jumbotron {
  padding-top: 6rem;
  background-image: url(img/strong-fish-HwfqLYhjxhI-unsplash.jpg);
}

#projects {
  background-image: url(img/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
}

section {
  padding-top: 5rem;
}
